In [1]:
import pandas as pd
import os
import csv

# Input Data

In [2]:
cases = pd.read_csv('us-counties-4-26.csv')
cases

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1       0
1      2020-01-22   Snohomish  Washington  53061.0      1       0
2      2020-01-23   Snohomish  Washington  53061.0      1       0
3      2020-01-24        Cook    Illinois  17031.0      1       0
4      2020-01-24   Snohomish  Washington  53061.0      1       0
...           ...         ...         ...      ...    ...     ...
89767  2020-04-25    Sublette     Wyoming  56035.0      1       0
89768  2020-04-25  Sweetwater     Wyoming  56037.0     10       0
89769  2020-04-25       Teton     Wyoming  56039.0     64       1
89770  2020-04-25       Uinta     Wyoming  56041.0      6       0
89771  2020-04-25    Washakie     Wyoming  56043.0      4       0

[89772 rows x 6 columns]

In [3]:
# Check whether cases and deaths in NYTimes data have negative values

f = open(r"us-counties-4-26.csv")
csv_f = csv.reader(f)
count = 0

for row in csv_f:
    if count == 0:
        count+=1
        continue
    if int(row[4]) < 0 or int(row[5]) < 0 or row[4] == "" or row[5] == "":
        print(row)
        
f.close()

Dataset with mobility index

In [4]:
mobility = pd.read_csv('DL-us-m50_index-4-23.csv')
mobility

,country_code,admin_level,admin1,admin2,fips,2020-03-01,2020-03-02,2020-03-03,2020-03-04,2020-03-05,...,2020-04-13,2020-04-14,2020-04-15,2020-04-16,2020-04-17,2020-04-18,2020-04-19,2020-04-21,2020-04-22,2020-04-23
0,US,1,Alabama,NaN,1.0,79.0,98.0,100.0,96.0,104.0,...,50.0,51.0,56.0,59.0,68.0,49.0,4.0,62.0,62.0,47.0
1,US,2,Alabama,Autauga County,1001.0,49.0,100.0,95.0,95.0,100.0,...,43.0,36.0,42.0,45.0,56.0,34.0,0.0,48.0,46.0,35.0
2,US,2,Alabama,Baldwin County,1003.0,81.0,100.0,95.0,90.0,102.0,...,48.0,49.0,52.0,53.0,57.0,43.0,16.0,58.0,59.0,36.0
3,US,2,Alabama,Barbour County,1005.0,90.0,107.0,100.0,70.0,88.0,...,50.0,51.0,54.0,62.0,67.0,58.0,7.0,71.0,78.0,50.0
4,US,2,Alabama,Bibb County,1007.0,53.0,95.0,100.0,94.0,111.0,...,43.0,51.0,50.0,55.0,55.0,45.0,4.0,59.0,53.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2717,US,2,Wyoming,Sheridan County,56033.0,61.0,89.0,95.0,100.0,109.0,...,55.0,48.0,58.0,69.0,75.0,71.0,4.0,74.0,64.0,55.0
2718,US,2,Wyoming,Sublette County,56035.0,21.0,89.0,90.0,99.0,165.0,...,28.0,45.0,23.0,7.0,45.0,19.0,14.0,40.0,41.0,39.0
2719,US,2,Wyoming,Sweetwater County,56037.0,51.0,88.0,97.0,100.0,136.0,...,61.0,82.0,79.0,64.0,102.0,79.0,44.0,92.0,156.0,119.0
2720,US,2,Wyoming,Teton County,56039.0,140.0,101.0,95.0,100.0,95.0,...,13.0,15.0,2.0,15.0,38.0,35.0,14.0,31.0,35.0,20.0
2721,US,2,Wyoming,Uinta County,56041.0,63.0,93.0,87.0,144.0,100.0,...,78.0,69.0,82.0,65.0,113.0,101.0,54.0,83.0,144.0,120.0

In [5]:
# Check whether m50 and m50_index data have negative or null values 
f = open(r"DL-us-mobility-daterow-4-23.csv")
csv_f = csv.reader(f)
count = 0

for row in csv_f:
    if count == 0:
        count += 1
        continue
    if int(row[-1]) < 0 or float(row[-2]) < 0.0 or row[-1] == "" or row[-2] == "":
        print(row)
f.close()

The third dataset to read Unemployment data provided by

In [6]:
econ = pd.read_csv('Unemployment.csv')
econ

,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,0,US,United States,NaN,NaN,NaN,"152,191,093","145,156,134","7,034,959",4.6,...,"160,273,906","153,293,830","6,980,076",4.4,"161,640,488","155,344,043","6,296,445",3.9,"$61,937",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,...,2178243,2081676,96567,4.4,"2,198,837","2,112,347","86,490",3.9,"$49,881",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"24,383","23,577",806,3.3,...,25972,24958,1014,3.9,"25,957","25,015",942,3.6,"$59,338",119.0
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"82,659","80,099","2,560",3.1,...,92090,88342,3748,4.1,"93,849","90,456","3,393",3.6,"$57,588",115.5
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"10,334","9,684",650,6.3,...,8317,7831,486,5.8,"8,373","7,940",433,5.2,"$34,382",68.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270,72145,PR,"Vega Baja Municipio, PR",1.0,1.0,1.0,"21,115","18,445","2,670",12.6,...,13409,11743,1666,12.4,"13,199","11,826","1,373",10.4,NaN,NaN
3271,72147,PR,"Vieques Municipio, PR",7.0,12.0,0.0,"3,317","2,955",362,10.9,...,3026,2588,438,14.5,"2,734","2,283",451,16.5,NaN,NaN
3272,72149,PR,"Villalba Municipio, PR",2.0,2.0,1.0,"9,479","8,223","1,256",13.3,...,7554,6088,1466,19.4,"7,329","6,164","1,165",15.9,NaN,NaN
3273,72151,PR,"Yabucoa Municipio, PR",1.0,1.0,1.0,"11,425","9,348","2,077",18.2,...,8996,7510,1486,16.5,"8,826","7,566","1,260",14.3,NaN,NaN
3274,72153,PR,"Yauco Municipio, PR",2.0,2.0,1.0,"16,635","14,451","2,184",13.1,...,10156,8407,1749,17.2,"9,770","8,329","1,441",14.7,NaN,NaN

In [7]:
mobility_fips = mobility[mobility['admin_level']==2]['fips']
not_overlap_fips = [int(fips) for fips in mobility_fips if fips not in list(econ['FIPS']) ]
not_overlap_names = [mobility[mobility['fips']==fips]['admin2'].iloc[0] for fips in not_overlap_fips]
print(len(not_overlap_fips), not_overlap_names , " county did not match")
mobility = mobility[~mobility['fips'].isin(not_overlap_fips)]

1 ['City of Bedford']  county did not match

In [8]:
mobility_fips = mobility[mobility['admin_level']==2]['fips']
not_overlap_fips = [int(fips) for fips in mobility_fips if fips not in list(cases['fips']) ]
not_overlap_names = [mobility[mobility['fips']==fips]['admin2'].iloc[0] for fips in not_overlap_fips]
print(len(not_overlap_fips), not_overlap_names , " county did not match")
mobility = mobility[~mobility['fips'].isin(not_overlap_fips)]

115 ['North Slope Borough', 'Little River County', 'Montgomery County', 'Lassen County', 'Mariposa County', 'Benewah County', 'Franklin County', 'Shoshone County', 'Brown County', 'Edgar County', 'Edwards County', 'Putnam County', 'Calhoun County', 'Davis County', 'Decatur County', 'Emmet County', 'Floyd County', 'Fremont County', 'Ida County', 'Lucas County', 'Monroe County', 'Palo Alto County', 'Pocahontas County', 'Sac County', 'Allen County', 'Brown County', 'Ellsworth County', 'Harper County', 'Kingman County', 'Marshall County', 'Nemaha County', 'Pawnee County', 'Russell County', 'Thomas County', 'Bell County', 'Estill County', 'Harlan County', 'Magoffin County', 'Metcalfe County', 'Owen County', 'Iron County', 'Grant County', 'Hubbard County', 'Kanabec County', 'Lake County', 'Lake of the Woods County', 'Pope County', 'Stevens County', 'Wadena County', 'Barton County', 'Dent County', 'Douglas County', 'Grundy County', 'Laclede County', 'Lawrence County', 'Shannon County', 'Wayne County', 'Custer County', 'Dawson County', 'Fergus County', 'Holt County', 'Jefferson County', 'Keith County', 'Richardson County', 'Storey County', 'Sierra County', 'Bronx', 'Kings County', 'New York County', 'Queens County', 'Richmond County', 'Avery County', 'Camden County', 'Swain County', 'Yancey County', 'Traill County', 'Vinton County', 'Blaine County', 'Coal County', 'Ellis County', 'Hughes County', 'Pushmataha County', 'Baker County', 'Custer County', 'Grant County', 'Archer County', 'Bailey County', 'Brewster County', 'Coleman County', 'Crockett County', 'Culberson County', 'Fisher County', 'Hardeman County', 'Kimble County', 'Loving County', 'Mills County', 'Reagan County', 'Reeves County', 'Refugio County', 'Runnels County', 'San Saba County', 'Somervell County', 'Sutton County', 'Upton County', 'Ward County', 'Beaver County', 'City of Martinsville', 'Dickenson County', 'Pocahontas County', 'Ritchie County', 'Burnett County', 'Langlade County', 'Lincoln County', 'Taylor County', 'Platte County']  county did not match